1.Write a code to create a string with your name and print it.

In [ ]:
name ="sushant"
print(name)

sushant

2.Write a code to find the length of the string "Hello World"

In [ ]:
name="Hello World"
print(len(name))

11

3.Write a code to slice the first 3 characters from the string "Python Programming"

In [ ]:
name="Python Programming"
print(name[0:3])

Pyt

4.Write a code to convert the string "hello" to uppercase

In [ ]:
name="hello"
p=name.upper()
print(p)

HELLO

5.Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [1]:
name="I like apple"
s=name.replace("apple","orange")
print(s)

I like orange

6.Write a code to create a list with numbers 1 to 5 and print it.

In [2]:
lis=[1,2,3,4,5]
print(lis)

[1, 2, 3, 4, 5]

7.Write a code to append the number 10 to the list [1, 2, 3, 4]

In [ ]:
lis=[1,2,3,4]
lis.append(10)
print(lis)

[1, 2, 3, 4, 10]

8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [ ]:
lis=[1,2,3,4,5]
lis.remove(3)
print(lis)

[1, 2, 4, 5]

9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [6]:
a=['a', 'b', 'c', 'd']
print(a[1])

b

10.Write a code to reverse the list [10, 20, 30, 40, 50]

In [ ]:
lis=[10, 20, 30, 40, 50]
lis.reverse()
print(lis)

[50, 40, 30, 20, 10]

11.Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
s=(100,200,300)
print(s)

(100, 200, 300)

12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
s=('red', 'green', 'blue', 'yellow')
print(s[-2])

blue

13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [7]:
tu= (10, 20, 5, 15)
print(min(tu))

5

14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [8]:
s=('dog', 'cat', 'rabbit')
m=s.index("cat")
print(m)

1

15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
fruit=("apple","mango","kiwi")
if "kiwi" in fruit:
  print("yes kiwi is present")
else:
  print("kiwi is not present")

yes kiwi is present

16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
s={'a','b','c'}
print(type(s))
print(s)

<class 'set'>
{'c', 'b', 'a'}

17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [9]:
s={1, 2, 3, 4, 5}
s.clear()
print(s)

set()

18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [10]:
s= {1, 2, 3, 4}
s.discard(4)
print(s)

{1, 2, 3}

19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
a= {1, 2, 3}
b= {3, 4, 5}
c=a.union(b)
print(c)

{1, 2, 3, 4, 5}

20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [ ]:
a= {1, 2, 3}
b= {3, 4, 5}
c=a.intersection(b)
print(c)

{3}

21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [11]:
dic={"name":"sushant","age":22,"city":"mumbai"}
print(dic)

{'name': 'sushant', 'age': 22, 'city': 'mumbai'}

22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [12]:
dic={'name': 'John', 'age': 25}
print(dic)

{'name': 'John', 'age': 25}

In [ ]:
dic["country"]="USA"
print(dic)

{'name': 'John', 'age': 25, 'country': 'USA'}

23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [13]:
dic= {'name': 'Alice', 'age': 30}
print(dic["name"])

Alice

24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
dic= {'name': 'Bob', 'age': 22, 'city': 'New York'}
dic.pop("age")
print(dic)

{'name': 'Bob', 'city': 'New York'}

25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
dic={'name': 'Alice', 'city': 'Paris'}
print(dic)

{'name': 'Alice', 'city': 'Paris'}

In [ ]:
if "city" in dic:
  print("city is present")
else:
  print("city is not present")

city is present

26.Write a code to create a list, a tuple, and a dictionary, and print them all.

In [14]:
a=[1,2,3,4,5]
b=(23,34,56)
c={"name":"sushu","age":22}
print(c)

{'name': 'sushu', 'age': 22}

27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [17]:
import random
s = random.sample(range(1, 101), 5)
s.sort()
print(s)

[9, 40, 46, 71, 87]

28.Write a code to create a list with strings and print the element at the third index.

In [20]:
s=["sushu","lalla","manav","gaurav"]
print(s[3])

gaurav

29.Write a code to combine two dictionaries into one and print the result.

In [ ]:
s={"name":"sushant","age":22}
m={"contact":435654645,"gender":"male"}
s.update(m)
print(s)

{'name': 'sushant', 'age': 22, 'contact': 435654645, 'gender': 'male'}

30. Write a code to convert a list of strings into a set

In [ ]:
s=["sushu","lalla","gangu"]
m=set(s)
print(m)

{'sushu', 'gangu', 'lalla'}